<f:layout name="Default" />

<f:section name="main">

	<f:flashMessages />

	<div>
		<div>Name</div>
		<div>{alumnus.name}</div>
	</div>
	<div>
		<div>Jahrgang</div>
		<div>{alumnus.year.year}</div>
	</div>
	<div>
		<div>E-Mail</div>
		<div><f:link.email email="{alumnus.email}">{alumnus.email}</f:link.email></div>
	</div>
	<f:if condition="{alumnus.telephone}">
		<div>
			<div>Telefonnummer</div>
			<div>{alumnus.telephone}</div>
		</div>
	</f:if>
	<f:if condition="{alumnus.cityAndCountry}">
		<div>
			<div>Wohnort</div>
			<div>{alumnus.cityAndCountry}</div>
		</div>
	</f:if>

</f:section>