<f:layout name="Default" />

<f:section name="main">

	<ul class="year-list">
		<f:groupedFor each="{years}" as="yearInDecade" groupBy="decade" groupKey="decade">
			<li>
				<strong>{decade}:</strong>
				<ul>
					<f:for each="{yearInDecade}" as="year">
						<li>
						<f:if condition="{year.page}">
							<f:then>
								<f:link.page pageUid="{year.page}">{year.year}</f:link.page>
							</f:then>
							<f:else>
								<f:link.action action="show" arguments="{year: year}">{year.year}</f:link.action>
							</f:else>
						</f:if>
						(<f:count>{year.alumni}</f:count>  Einträge)
						</li>
					</f:for>
				</ul>
			</li>
		</f:groupedFor>
	</ul>

</f:section>