{namespace ui=Tx_JqueryUi_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

	<h3>Abiturjahrgang {year.year}</h3>

	<p class="bodytext">
		Der Abiturjahrgang {year.year} enthält bisher <f:count>{year.alumni}</f:count> Einträge.
	</p>

	<ui:tabs id="tx-alumnilist-year-show">
		<ui:tab label="{f:translate(key:'year_show_alumni', default: 'Ehemalige')}">
			<f:render partial="Alumnus/List" arguments="{alumni: year.alumni, disable: {year: 1}}" />
		</ui:tab>
		<ui:tab label="{f:translate(key:'year_show_courses', default: 'Leistungskurse')}">
			<f:render partial="Course/List" arguments="{courses: year.courses, disable: {year: 1}}" />
		</ui:tab>
	</ui:tabs>

</f:section>