<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Alumnus</h1>

<f:flashMessages />

<table  class="tx_alumnilist" >
	<tr>
		<th><f:translate key="tx_alumnilist_domain_model_alumnus.unmarried_name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{alumnuses}" as="alumnus">
		<tr>
			<td><f:link.action action="show" arguments="{alumnus : alumnus}"> {alumnus.unmarriedName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{alumnus : alumnus}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{alumnus : alumnus}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Alumnus</f:link.action>
</f:section>