{namespace ui=Tx_JqueryUi_ViewHelpers}
<script type="text/javascript">jQuery.noConflict();</script>
<div class="alumni-form-row">
	<label>Name</label>
	<div class="alumni-form-composite">
		<f:form.textfield property="firstName" placeholder="Max" />
		<f:form.textfield property="lastName" placeholder="Mustermann" />
	</div>
</div>
<div class="alumni-form-row">
	<label for="unmarriedName">Geburtsname (leerlassen falls nicht zutreffend)</label>
	<f:form.textfield property="unmarriedName" placeholder="" />
</div>
<div class="alumni-form-row">
	<label for="email">E-Mail-Adresse</label>
	<f:form.textfield property="email" placeholder="max@mustermann.tld" />
</div>
<div class="alumni-form-row">
	<label for="password">Passwort</label>
	<ui:form.password property="password" value="" />
</div>
<div class="alumni-form-row">
	<label for="password">Passwort wiederholen</label>
	<f:form.password name="repeatPassword" />
</div>
<div class="alumni-form-row">
	<label for="year">Abiturjahrgang</label>
	<f:form.select property="year" options="{years}" optionLabelField="year" optionValueField="uid" sortByOptionLabel="true" />
</div>
<div class="alumni-form-row">
	<label for="telephone">Geburtsdatum</label>
	<ui:form.datefield property="birthday" placeholder="DD.MM.YYYY" format="d.m.Y" />
</div>
<div class="alumni-form-row">
	<label for="telephone">Telefonnummer</label>
	<f:form.textfield property="telephone" placeholder="+49-0000-0000" />
</div>
<div class="alumni-form-row">
	<label for="">Wohnort</label>
	<f:form.textfield property="city" placeholder="Musterstadt" />
</div>
<div class="alumni-form-row">
	<label for="country">Land</label>
	<f:form.textfield property="country" placeholder="Deutschland" />
</div>
